.app{
    
   width: 100%;
}
.app img {
    border-radius: 80%;
    border-style: solid;
    border-color:black;
}
.container button{
    
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
   }
   .container h1{
    margin-top: 100px;
    margin-left: 340px;
   }
   
   
   